/* Tags Gerai*/
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}
header h1{
    margin: 0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
    margin-right: 10px;
}
nav li{
    background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    display: inline;
    background-position: center right;
    margin-right: 10px;
    padding-right: 27px;    
}
nav a{
    color: #000;
   text-decoration: none ;
}
nav a:hover{
    color: #6dd432;
}
